.media__upload_img{
    margin-bottom: 10px;
    float: left;
}
.input-group {
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
}

.itemImg, .itemImgs{
    float: left !important;
    display: inline-block;
    /*width: 30%!important;*/
}

.media__upload_img img{
    margin: 3px;
    object-fit: cover;
}

#status-use, #additionalfields-use {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    max-height: 100px;
    flex-direction: column;
}

/*.field-usercard-fields-0-value{*/
/*    display: flex;*/
/*    width: auto;*/
/*}*/

tr td div input{
    width: 100% !important;
}

.list-cell__value div{
    display: flex;
    width: auto;
}

input .itemImg{
    width: 100% !important;
}

.report-date {
    width: 155px;
}